body {
   display: flex;
   color: rgb(114, 111, 111);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:serif,'cursive','fantasy','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

/* header */
.cor-link-Nav {
   color: rgb(114, 111, 111);
   text-decoration: none;
}

.cor-link-Nav:hover {
   color: rgb(255, 170, 0);
}

.cor-link {
   color: rgb(255, 170, 0);
   text-decoration: none;
}

.img-link {
   background-image: url(../img/seta.gif);
   background-repeat: no-repeat;
   background-position: 0;
   background-size: 3%;
}

.border-pt-b {
   border-bottom: 1px dashed rgb(114, 111, 111);
}